body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  transition: width none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; /* Afficher les éléments en colonne */
  padding: 8px 10px;
  background-color: #ffffff;
  height: 110px;
  border-bottom: 2px solid #cccccc;
  border-radius: 15px;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__menu-icon {
  font-size: 18px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
  text-decoration: none;
}

.navbar__book-icon {
  font-size: 26px;
  color: rgb(0, 214, 186);
  margin-right: 5px;
  margin-left: 2px;
  vertical-align: middle;
  text-decoration: none;
}

.navbar__lmd {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 214, 186);
  margin-left: 4px;
}

.navbar__user-icon {
  font-size: 18px;
  color: rgb(0, 214, 186);
  margin-right: 5px;
}

.navbar__heart-icon {
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(0, 214, 186);
}

.navbar__menu-icon:hover,
.navbar__book-icon:hover,
.navbar__heart-icon:hover,
.navbar__user-icon:hover{
  transform: scale(1.5);
}

.search-form{
  width: 15rem;
  height: 2rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}

.search-form input{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 .5rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}
.search-form label{
  font-size: 1rem;
  padding-right: 1rem;
  padding-left: .1rem;
  color: rgb(0, 214, 186);
  cursor: pointer;
  border-left: .1rem solid var(--black);
}


.navbar__menu {
  position: absolute;
  top: 64px;
  left: -300px;
  width: 300px;
  height: 450px;
  background-image: url('images/menu-background.jpg');
  background-size: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  margin-top: -60px;
  z-index: 100;
}
.navbar__menu .menu-title{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__menu ul li {
  width: 100%;
  display: block;
  font-size: 20px;
  padding: 8px;
  padding-left: 0px;
}

.navbar__menu ul li a {
  display: block;
  padding: 8px 4px;
  color: rgb(255, 255, 255); /* Couleur du texte verte */
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
.navbar__menu ul li a i{
  text-align: center;
  padding-right: 8px;
}
.navbar__menu ul li:hover a{
  background: rgb(3, 161, 140);
  color: #ffffff;
  letter-spacing: 5px;
}

.navbar__menu.visible {
  left: 0;
}

.navbar__menu a:hover {
  background-color: rgba(0, 214, 186, 0.1);
}

.categories-container {
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
}

.categories-slider {
  display: flex;
  overflow-x: auto; /* Défilement horizontal uniquement si nécessaire */
  -webkit-overflow-scrolling: touch; /* Améliore le défilement sur iOS */
}

.category-button {
  flex-shrink: 0;
  padding: 10px 15px; /* Ajustez la taille des boutons */
  border: 2px solid #cccccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  white-space: nowrap; /* Empêche le retour à la ligne des boutons */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour les effets */

}

/* ... le reste du code CSS reste le même ... */

.category-button i {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
  font-size: 16px; /* Taille de l'icône */
  color: rgb(0, 214, 186); /* Couleur de l'icône */
}

.category-button:hover {
  background-color: rgb(1, 167, 145); /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
.category-button:hover i {
  color: #fff; /* Couleur du texte au survol */
}

/* ... Autres styles ... */

.categories-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
}

.category-button {
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Ajout de la transition */
}

.category-button:hover {
  transform: scale(1.1); /* Appliquer un zoom au survol */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 200px;
}

.book-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.book-image img {
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-info h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.book-info p {
  font-size: 20px;
  color: #555;
  margin: 10px;
}

.book-rating {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #f39c12;
  margin: 10px;
}

.book-rating span {
  margin: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 24px;
  color: #555;
}

.btn-download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00d6ba;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-download:hover {
  background-color: #00c0a0;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  background: #fff;
  border-radius: 15px;
}

.footer .box-container .box {
  padding-left: 10px;
}

.footer .box-container .box h3{ 
  padding-top: 2rem;
  font-size: 2rem;
  color: rgb(0, 214, 186);
  padding: 1rem 0;
}

.footer .box-container .box a{ 
  display: block;
  font-size: 1.1rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a i{ 
  color: rgb(0, 214, 186);
  padding-right: .5rem;
}

.footer .box-container .box a:hover i{ 
  padding-right: 2rem;
}

.footer .box-container .box .map{
  width: 60%;
}

.footer .share{
  background: #fff;
  padding: 1rem 0;
  text-align: center;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  color: rgb(0, 214, 186);
  margin: 0 .3rem;
}

.footer .credit{
  border-top: var(--border);
  padding: 0 1rem;
  padding-bottom: 2.5rem;
  font-size: 22px;
  color: var(--light-color);
  text-align: center;
  background: #fff;
}

.footer .credit span{
  color: rgb(0, 214, 186);
}

@media screen and (min-width: 1024px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; /* Afficher les éléments en colonne */
    padding: 8px 10px;
    background-color: #ffffff;
    height: 120px;
    border-bottom: 2px solid #cccccc;
    border-radius: 15px;
  }

  .navbar__menu-icon {
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 20px;
    text-decoration: none;
  }
  
  .navbar__book-icon {
    font-size: 32px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
    margin-left: 4px;
    vertical-align: middle;
    text-decoration: none;
  }
  
  .navbar__lmd {
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 214, 186);
    margin-left: 0;
  }
  
  .navbar__user-icon {
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
  }
  
  .navbar__heart-icon {
    margin-right: 20px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 214, 186);
  }
  

  .search-form{
    width: 30rem;
    height: 3rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
  }
  
  .search-form input{
    font-size: 22px;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
  }
  .search-form label{
    font-size: 22px;
    padding-right: 1rem;
    padding-left: .6rem;
    color: rgb(0, 214, 186);
    cursor: pointer;
    border-left: .1rem solid var(--black);
  }
  

  .categories-container {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
  }
  
  .categories-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    justify-content: center; /* Centrer horizontalement */
  }
  
  .category-button {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px; /* Augmenter les valeurs de padding pour rendre les boutons plus gros */
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-button span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }
  
  .category-button i {
    margin-right: 5px;
    font-size: 20px;
    color: rgb(0, 214, 186);
  }
  
  .category-button:hover {
    transform: scale(1.1);
  }

  .footer .box-container .box {
    padding-left: 20px;
  }


}
