.title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 214, 186); /* Couleur de texte */
    margin-bottom: 20px; /* Espace en bas du titre */
  }
.body img{
    width: 100px;
    height: auto;
}