body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url(images/menu-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
.back-arrow:hover {
  transform: translateX(5px); /* Faites le décalage dans l'autre sens pour le survol */
}

  .home-icon {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px; /* Placez l'icône en haut à droite */
    text-decoration: none;
    transition: transform 0.3s;
  }
  
  .home-icon:hover {
    transform: translateX(5px); /* Faites le décalage dans l'autre sens pour le survol */
  }
  
.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 350px;
}

.login-container h2 {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 214, 186);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: flex;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  padding-right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-btn {
  background-color: rgb(0, 214, 186);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #00b39e;
}

.login-container p a {
    color: rgb(0, 214, 186);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }

  .login-container p a:hover {
    color: rgb(0, 150, 130);
  }