body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: rgb(0, 214, 186);
    text-decoration: none;
    cursor: pointer;
  }

  .back-arrow:hover {
    transform: translateX(5px); /* Faites le décalage dans l'autre sens pour le survol */
  }
  
    .home-icon {
      font-size: 24px;
      color: rgb(0, 214, 186);
      position: absolute;
      top: 20px;
      right: 20px; /* Placez l'icône en haut à droite */
      text-decoration: none;
      transition: transform 0.3s;
    }
    
    .home-icon:hover {
      transform: translateX(5px); /* Faites le décalage dans l'autre sens pour le survol */
    }

  .signup-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 350px;
    width: 80%;
  }
  
  .signup-form-container h3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 214, 186);
  }
  
  .signup-form-container span {
    display: flex;
    margin-top: 15px;
    font-size: 14px;
    color: black;
  }
  
  .signup-form-container .box {
    width: 100%;
    padding: 10px;
    padding-right: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .signup-form-container .btn {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(0, 214, 186);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-form-container .btn:hover {
    background-color: rgb(0, 150, 130);
  }
  
  .signup-form-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
  }
  
  .signup-form-container p a {
    color: rgb(0, 214, 186);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .signup-form-container p a:hover {
    color: rgb(0, 150, 130);
  }
  