@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --black:#444;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  transition: width none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; /* Afficher les éléments en colonne */
  padding: 8px 10px;
  background-color: #ffffff;
  height: 110px;
  border-bottom: 2px solid #cccccc;
  border-radius: 15px;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__menu-icon {
  font-size: 18px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
  text-decoration: none;
}

.navbar__book-icon {
  font-size: 26px;
  color: rgb(0, 214, 186);
  margin-right: 5px;
  margin-left: 2px;
  vertical-align: middle;
  text-decoration: none;
}

.navbar__lmd {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 214, 186);
  margin-left: 4px;
}

.navbar__user-icon {
  font-size: 18px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
}

.navbar__heart-icon {
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 214, 186);
}
.navbar__dollar-icon{
  font-size: 18px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
}

.navbar__search-icon{
  font-size: 18px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
}

.navbar__menu-icon:hover,
.navbar__book-icon:hover,
.navbar__search-icon:hover,
.navbar__heart-icon:hover,
.navbar__user-icon:hover,
.navbar__dollar-icon:hover{
  transform: scale(1.1);
}

.search-form{
  width: 15rem;
  height: 2rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}

.search-form input{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 .5rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}
.search-form label{
  font-size: 1rem;
  padding-right: 1rem;
  padding-left: .1rem;
  color: rgb(0, 214, 186);
  cursor: pointer;
  border-left: var(--border);
}


.navbar__menu {
  position: absolute;
  top: 64px;
  left: -300px;
  width: 300px;
  height: 450px;
  background-image: url('images/menu-background.jpg');
  background-size: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  margin-top: -60px;
  z-index: 100;
}
.navbar__menu .menu-title{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__menu ul li {
  width: 100%;
  display: block;
  font-size: 20px;
  padding-left: 0px;
}

.navbar__menu ul li a {
  display: block;
  padding: 8px 4px;
  color: rgb(255, 255, 255); /* Couleur du texte verte */
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
.navbar__menu ul li a i{
  text-align: center;
  padding-right: 8px;
}
.navbar__menu ul li:hover a{
  background: rgb(3, 161, 140);
  color: #ffffff;
  letter-spacing: 5px;
}

.navbar__menu.visible {
  left: 0;
}

.navbar__menu a:hover {
  background-color: rgba(0, 214, 186, 0.1);
}

.categories-container {
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
}

.category-button {
  flex-shrink: 0;
  padding: 10px 15px; /* Ajustez la taille des boutons */
  border: 2px solid #cccccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  white-space: nowrap; /* Empêche le retour à la ligne des boutons */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour les effets */

}

/* ... le reste du code CSS reste le même ... */

.category-button i {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
  font-size: 16px; /* Taille de l'icône */
  color: rgb(0, 214, 186); /* Couleur de l'icône */
}

.category-button:hover {
  background-color: rgb(1, 167, 145); /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
.category-button:hover i {
  color: #fff; /* Couleur du texte au survol */
}

/* ... Autres styles ... */

.categories-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
}

.category-button {
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Ajout de la transition */
}

.category-button:hover {
  transform: scale(1.1); /* Appliquer un zoom au survol */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.welcome-message {
  position: relative;
  border: var(--border);
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.message-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.message-content h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.message-content p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  font-size: 48px;
  color: black;
}


/* ... home ... */

.container{
  position: relative;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: var(--border);
}

.container img{
  width: 300px;
  position: absolute;
  bottom: 50px;
}

.home-text{
  padding: 0 30px;
  padding-top: 50px;
}

.home-text span{
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 214, 186);
}

.home-text h1{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.btn1{
  padding: 0.6rem 1rem;
  background: rgb(0, 214, 186);
  color: #fff;
  font-weight: 400;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 00.5rem;
  max-width: 160px;
}

.btn1 i{
  padding: 4px;
  background: #fff;
  color: black;
  border-radius: 1rem;
  font-size: 20px;
  margin: auto;
}

.btn1:hover{
  background: var(--black);
  transition: 0.2s ease;
}
/*... Treasures ...*/

.treasures-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.treasure-book-1,
.treasure-book-2 {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.treasure-book-1 {
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.treasure-book-2{
  background: linear-gradient(109.6deg, rgb(255, 207, 84) 11.2%, rgb(255, 158, 27) 91.1%);
}

.treasure-book-1 img,
.treasure-book-2 img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

.treasure-book-details {
  flex: 1;
  padding-left: 10px;
  text-align: left;
}

.treasure-book-title {
  color: #FEFCFD;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.gem-icon{
  color: #FEFCFD;
}

.treasure-book-author {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}

.book-genre-btn-1,
.book-genre-btn-2{
  padding: 0.2rem 1.5rem;
  color: #FEFCFD;
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 00.5rem;
  max-width: 160px;
}

.book-genre-btn-1{
  background: #0ed47e;
}

.book-genre-btn-2{
  background: rgb(255, 207, 84);
}

.treasure-book-1:hover,
.treasure-book-2:hover {
  transform: scale(1.05);
}

.treasure-book-rating {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.treasure-star-icon {
  margin-right: 2px;
  color: #FEFCFD;
}

/* ... Popular ... */

.popular-books {
  padding: 40px 0;
  text-align: center;
}


.books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.book img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

.book-details {
  flex: 1;
  padding-left: 10px;
  text-align: left;
}

.book-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.medal-icon{
  color: rgb(0, 214, 186);
}

.book-author {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.book-genre{
  font-size: 14px;
}

.book:hover {
  transform: scale(1.05);
}

.book-rating {
  font-size: 16px;
  color: #f39c12; /* Couleur orange pour les étoiles */
  display: flex;
  align-items: center;
}

.star-icon {
  margin-right: 2px;
  color: rgb(0, 214, 186);
}

/* bookshelf */
   
.selected-books .books-container {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 1000px; /* Ajustez cette valeur selon vos préférences */
  margin: 0 auto; /* Centre le livre horizontalement dans son conteneur parent */
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adaptation automatique des colonnes */
  gap: 20px; /* Espacement entre les cellules */
}

.book-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Retour à la ligne sur les petits écrans */

}

.book-cell {
  position: relative;
  flex: 1;
  min-width: 250px; /* Largeur minimale des cellules */
  margin: 10px;
}

.book-box {
  position: relative;
  background-color: #FEFCFD;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.book-box:hover{
  transform: scale(1.01);
}

.book-box img {
  max-width: 100px; /* Taille maximale de l'image */
  margin-right: 10px;
}

.book-info {
  flex: 1;
}


.rating {
  color: #f39c12;
  font-size: 18px;
  margin-top: 5px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  align-items: center;
}

.icons i {
  font-size: 20px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
}

.icons i:hover {
  transform: scale(1.1);
}

/* LIVRES TENDANCES */

.heading{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before{
  content: '';
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: .01rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;

}

.heading span{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: .5rem 2rem;
  color: rgb(0, 214, 186);
  background: #fff;
  border: var(--border);
}

.trends .trends-slider .box{
  width: 1rem;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center;
}

.trends .trends-slider .box:hover{
  border: var(--border-hover);
}

.trends .trends-slider .box .image{
  padding: 1rem;
  background: linear-gradient(15deg, #eee, #fff 30,1%);
}

.trends .trends-slider .box .image img{
  height: 10rem;
}

.trends .trends-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  left: 0; top: 0; right: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  transform: translateY(-100%);
}

.trends .trends-slider .box:hover .icons{
  transform: translateY(0%);
}

.trends .trends-slider .box:hover .image{
  transform: translateY(4rem);
}

.trends .trends-slider .box .icons a{
  color: var(--black);
  font-size: 1rem;
  padding: 1rem 1.2rem;
  text-decoration: none;
}

.trends .trends-slider .box .icons a:hover{
  background: rgb(0, 214, 186);
  color: #fff;
}

.trends .trends-slider .box .content{
  background: #eee;
  padding: 1rem;
}

.trends .trends-slider .box .content h3{
  font-size: 20px;
  color: var(--black);
}

.trends .trends-slider .box .content .price{
  font-size: 18px;
  color: var(--black);
  padding-top: .5rem;
}

.swiper-button-next,
.swiper-button-prev{
  height: 4rem;
  width: 4rem;
  color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
  color: rgb(0, 214, 186);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  color: var(--black);
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .01rem 0.3rem;
  border-radius: .5rem;
  color: #fff;
  background: rgb(0, 214, 186);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover{
  background: var(--black);
}

/* LIVRES TENDANCES */
.arrivals .arrivals-slider .box{
 display: flex;
 align-items: center;
 gap: 1rem;
 padding: 1rem .5rem;
 border: var(--border);
 margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover{
  border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
  height: 9rem;
}

.arrivals .arrivals-slider .box .content h3{
  font-size: 24px;
  color: var(--black);
}

.arrivals .arrivals-slider .box .content .price{
  font-size: 22px;
  color: var(--black);
  padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .second-price{
  font-size: 16px;
  color: var(--light-color);
  text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
  font-size: 1rem;
  color: rgb(0, 214, 186);
}
/* Services  */

.services {
  width: 100%;
  height: auto;
  margin: 35px 0;
}

.services .services-box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; /* Permet le retour à la ligne des cartes */
}

.services .services-box .services-card {
  text-align: center;
  width: 310px;
  height: auto;
  box-shadow: 0 0 8px rgb(0, 214, 186);
  padding: 15px 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.services .services-box .services-card:hover{
  transform: scale(1.03);
}

.services .services-box .services-card i:hover {
  transform: translateY(-5px);
}

.services .services-box .services-card i {
  color: rgb(0, 214, 186);
  font-size: 45px;
  margin-bottom: 15px;
  cursor: pointer;
}

.services .services-box .services-card h3 {
  margin-bottom: 10px;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.footer .box-container .box {
  padding-left: 10px;
}

.footer .box-container .box h3{ 
  padding-top: 2rem;
  font-size: 2rem;
  color: rgb(0, 214, 186);
  padding: 1rem 0;
}

.footer .box-container .box a{ 
  display: block;
  font-size: 1.1rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a i{ 
  color: rgb(0, 214, 186);
  padding-right: .5rem;
}

.footer .box-container .box a:hover i{ 
  padding-right: 2rem;
}

.footer .box-container .box .map{
  width: 60%;
}

.footer .share{
  padding: 1rem 0;
  text-align: center;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  color: rgb(0, 214, 186);
  margin: 0 .3rem;
}

.footer .credit{
  border-top: var(--border);
  margin-top: 2rem;
  padding: 0 1rem;
  padding-bottom: 2.5rem;
  font-size: 22px;
  color: var(--light-color);
  text-align: center;
}

.footer .credit span{
  color: rgb(0, 214, 186);
}

.loader-container{
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;

}

.loader-container.active{
  display: none;
}

.loader-container img{
height: 20rem;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: 2px solid rgb(0, 214, 186);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10000;
}

.scroll-icon {
  font-size: 24px;
  color: rgb(0, 214, 186);
}



@media (max-width: 450px) {
  .search-form{
    position: absolute;
    top: 10%; right: 15%;
    z-index: 1;
  }
  
  .search-form{
    width: 60%;
    height: 2.5rem;
    border: var(--border);
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adaptation automatique des colonnes */
  gap: 20px; /* Espacement entre les cellules */
}

}

@media (min-width: 450px) and (max-width: 768px){
  .search-form{
    width: 50%;
    height: 3rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .container img{
    width: 350px;
    position: absolute;
    bottom: 70px;
    right: 100px;
  }
  
  .home-text{
    padding: 0 100px;
    padding-top: 30px;
  }
  
  .home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(0, 214, 186);
  }
  
  .home-text h1{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .search-form{
    width: 50%;
    height: 3rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
  }

  #search-btn{
    display: none;
  }

  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adaptation automatique des colonnes */
    gap: 20px; /* Espacement entre les cellules */
  }
  
  .book-row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Retour à la ligne sur les petits écrans */
  
  }
  
  .book-cell {
    position: relative;
    flex: 1;
    min-width: 250px; /* Largeur minimale des cellules */
    margin: 10px;
    align-items:  center;
    justify-content: center;
  }
  
  .book-box {
    position: relative;
    background-color: #FEFCFD;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .book-box:hover{
    transform: scale(1.01);
  }
  
  .book-box img {
    margin-right: 6px;
  }
  
  .book-info {
    flex: 1;
  }
  
  
  .rating {
    color: #f39c12;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    align-items: center;
  }
  
  .icons i {
    font-size: 16px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
  }
  
  .icons i:hover {
    transform: scale(1.1);
  }
}





@media screen and (min-width: 1024px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; /* Afficher les éléments en colonne */
    padding: 8px 10px;
    background-color: #ffffff;
    height: 120px;
    border-bottom: 2px solid #cccccc;
    border-radius: 15px;
  }

  .navbar__menu-icon {
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 20px;
    text-decoration: none;
  }
  
  .navbar__book-icon {
    font-size: 32px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
    margin-left: 4px;
    vertical-align: middle;
    text-decoration: none;
  }
  
  .navbar__lmd {
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 214, 186);
    margin-left: 0;
  }
  
  .navbar__search-icon{
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 15px;
  }

  .navbar__user-icon {
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
  }
  
  .navbar__heart-icon {
    margin-right: 20px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 214, 186);
  }

  .navbar__dollar-icon{
    text-decoration: none;
    font-size: 26px;
    color: rgb(0, 214, 186);
    margin-left: 10px;
  }
  

  .search-form{
    width: 30rem;
    height: 3rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
  }
  
  .search-form input{
    font-size: 22px;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
  }
  .search-form label{
    font-size: 22px;
    padding-right: 1rem;
    padding-left: .6rem;
    color: rgb(0, 214, 186);
    cursor: pointer;
    border-left: var(--border);
  }

  #search-btn{
    display: none;
  }

  .categories-container {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
  }
  
  .categories-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    justify-content: center; /* Centrer horizontalement */
  }
  
  .category-button {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px; /* Augmenter les valeurs de padding pour rendre les boutons plus gros */
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-button span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }
  
  .category-button i {
    margin-right: 5px;
    font-size: 20px;
    color: rgb(0, 214, 186);
  }
  
  .category-button:hover {
    transform: scale(1.1);
  }

  .container img{
    width: 500px;
    position: absolute;
    bottom: 70px;
    right: 100px;
  }
  
  .home-text{
    padding: 0 150px;
    padding-top: 50px;
  }
  
  .home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(0, 214, 186);
  }
  
  .home-text h1{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .btn1{
    padding: 0.6rem 1rem;
    background: rgb(0, 214, 186);
    color: #fff;
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5rem;
    max-width: 160px;
  }
  
  .btn1 i{
    padding: 4px;
    background: #fff;
    color: black;
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
  }
  
  .btn1:hover{
    background: var(--black);
    transition: 0.2s ease;
  }

  .heading span{
    font-size: 2rem;
  }

  .footer .box-container .box {
    padding-left: 20px;
  }


}