:root{
  --black:#444;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; /* Afficher les éléments en colonne */
  padding: 8px 10px;
  background-color: #ffffff;
  height: 100px;
  border-bottom: 2px solid #cccccc;
  border-radius: 15px;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__menu-icon {
  font-size: 16px;
  color: rgb(0, 214, 186);
  margin-right: 10px;
  text-decoration: none;
}

.navbar__book-icon {
  font-size: 24px;
  color: rgb(0, 214, 186);
  margin-right: 5px;
  margin-left: 2px;
  vertical-align: middle;
  text-decoration: none;
}

.navbar__lmd {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 214, 186);
  margin-left: 4px;
}

.navbar__user-icon {
  font-size: 16px;
  color: rgb(0, 214, 186);
  margin-right: 5px;
}

.navbar__search-icon {
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(0, 214, 186);
}

.navbar__logo {
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 214, 186);
}

.navbar__search-container {
  position: relative;
  display: none;
}

.navbar__search-container.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navbar__search {
  width: 250px;
  height: 32px;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.navbar__search:focus {
  font-size: 18px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar__menu-icon:hover,
.navbar__book-icon:hover,
.navbar__search-icon:hover,
.navbar__user-icon:hover{
  transform: scale(1.5);
}


.navbar__menu {
  position: absolute;
  top: 64px;
  left: -300px;
  width: 300px;
  height: 450px;
  background-image: url('images/menu-background.jpg');
  background-size: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  margin-top: -60px;
  z-index: 100;
}
.navbar__menu .menu-title{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__menu ul li {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 10px;
  padding-left: 0px;
}

.navbar__menu ul li a {
  display: block;
  padding: 10px 5px;
  color: rgb(255, 255, 255); /* Couleur du texte verte */
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
.navbar__menu ul li a i{
  text-align: center;
  padding-right: 10px;
}
.navbar__menu ul li:hover a{
  background: rgb(3, 161, 140);
  color: #ffffff;
  letter-spacing: 5px;
}

.navbar__menu.visible {
  left: 0;
}

.navbar__menu a:hover {
  background-color: rgba(0, 214, 186, 0.1);
}

.categories-container {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.categories-slider {
  display: flex;
  overflow-x: auto; /* Défilement horizontal uniquement si nécessaire */
  -webkit-overflow-scrolling: touch; /* Améliore le défilement sur iOS */
}

.category-button {
  flex-shrink: 0;
  padding: 10px 15px; /* Ajustez la taille des boutons */
  border: 2px solid #cccccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  white-space: nowrap; /* Empêche le retour à la ligne des boutons */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour les effets */

}

/* ... le reste du code CSS reste le même ... */

.category-button i {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
  font-size: 16px; /* Taille de l'icône */
  color: rgb(0, 214, 186); /* Couleur de l'icône */
}

.category-button:hover {
  background-color: rgb(1, 167, 145); /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
.category-button:hover i {
  color: #fff; /* Couleur du texte au survol */
}

/* ... Autres styles ... */

.categories-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
}

.category-button {
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Ajout de la transition */
}

.category-button:hover {
  transform: scale(1.1); /* Appliquer un zoom au survol */
}

/* Services  */

.services {
  width: 100%;
  height: auto;
  margin: 35px 0;
}

.services .services-box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; /* Permet le retour à la ligne des cartes */
}

.services .services-box .services-card {
  text-align: center;
  width: 310px;
  height: auto;
  box-shadow: 0 0 8px rgb(0, 214, 186);
  padding: 15px 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.services .services-box .services-card:hover{
  transform: scale(1.03);
}

.services .services-box .services-card i:hover {
  transform: translateY(-5px);
}

.services .services-box .services-card i {
  color: rgb(0, 214, 186);
  font-size: 45px;
  margin-bottom: 15px;
  cursor: pointer;
}

.services .services-box .services-card h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.services .services-box .services-card p {
  font-family: "Roboto", sans-serif;
}


/* ... Autres styles ... */

.popular-books {
  padding: 40px 0;
  text-align: center;
}

.section-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(0, 214, 186);
  margin-bottom: 20px;
}

.books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.book img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

.book-details {
  flex: 1;
  padding-left: 10px;
  text-align: left;
}

.book-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-author {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.book-genre{
  font-size: 14px;
}

.book:hover {
  transform: scale(1.05);
}

.book-rating {
  font-size: 16px;
  color: #f39c12; /* Couleur orange pour les étoiles */
  display: flex;
  align-items: center;
}

.star-icon {
  margin-right: 2px;
  color: #f39c12;
}

.books-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0;
}
.books-slider a img{
  width: 60%;
  height: auto;
  margin-bottom: 0;
}

.books-slider a:hover img{
  transform: scale(.9);
}
.books-slider .stand{
  width: 100%;
  margin-top: -7rem;
}

/* LIVRES TENDANCES */

.heading{
  text-align: center;
  margin-top: 2rem;
  position: relative;
}

.heading::before{
  content: '';
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: .01rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;

}

.heading span{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: .5rem 2rem;
  color: rgb(0, 214, 186);
  background: #fff;
  border: var(--border);
}

.trends .trends-slider .box{
  width: 10rem;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center;
}

.trends .trends-slider .box:hover{
  border: var(--border-hover);
}

.trends .trends-slider .box .image{
  padding: 1rem;
  background: linear-gradient(15deg, #eee, #fff 30,1%);
}

.trends .trends-slider .box .image img{
  height: 20rem;
}

.trends .trends-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  left: 0; top: 0; right: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  transform: translateY(-100%);
}

.trends .trends-slider .box:hover .icons{
  transform: translateY(0%);
}

.trends .trends-slider .box:hover .image{
  transform: translateY(4rem);
}

.trends .trends-slider .box .icons a{
  color: var(--black);
  font-size: 1.5rem;
  padding: 1.3rem 1.5rem;
  text-decoration: none;
}

.trends .trends-slider .box .icons a:hover{
  background: rgb(0, 214, 186);
  color: #fff;
}

.trends .trends-slider .box .content{
  background: #eee;
  padding: 1.5rem;
}

.trends .trends-slider .box .content h3{
  font-size: 24px;
  color: var(--black);
}

.trends .trends-slider .box .content .price{
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.trends .trends-slider .box .content .price span{
  font-size: 1rem;
  color: var(--light-color);
  padding-top: 1rem;
  padding-left: .5rem;
  text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: var(--black);
  background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  color: var(--black);
  color: #fff;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .6rem 2rem;
  border-radius: .5rem;
  color: #fff;
  background: rgb(0, 214, 186);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover{
  background: var(--black);
}





















.loader-container{
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;

}

.loader-container.active{
  display: none;
}

.loader-container img{
height: 20rem;
}





@media screen and (min-width: 1024px) {

  .books-slider .stand{
   width: 40%;
   margin-top: -12rem;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; /* Afficher les éléments en colonne */
    padding: 8px 10px;
    background-color: #ffffff;
    height: 120px;
    border-bottom: 2px solid #cccccc;
    border-radius: 15px;
  }

  .navbar__menu-icon {
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 20px;
    text-decoration: none;
  }
  
  .navbar__book-icon {
    font-size: 32px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
    margin-left: 4px;
    vertical-align: middle;
    text-decoration: none;
  }
  
  .navbar__lmd {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 214, 186);
    margin-left: 0;
  }
  
  .navbar__user-icon {
    font-size: 24px;
    color: rgb(0, 214, 186);
    margin-right: 10px;
  }
  
  .navbar__search-icon {
    margin-right: 20px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 214, 186);
  }

  .navbar__search {
    width: 300px;
    height: 48px;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #cccccc;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }

  .categories-container {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
  }
  
  .categories-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    justify-content: center; /* Centrer horizontalement */
  }
  
  .category-button {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px; /* Augmenter les valeurs de padding pour rendre les boutons plus gros */
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-button span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }
  
  .category-button i {
    margin-right: 5px;
    font-size: 20px;
    color: rgb(0, 214, 186);
  }
  
  .category-button:hover {
    transform: scale(1.1);
  }
  .section-title{
    font-size: 3rem;
  }

  .heading span{
    font-size: 3rem;
  }
}